# **Curso Python: Ejercicios semana 01**

### **01_hello_world**
#### Simple Arithmetic Operations

>**Parte I**

In [1]:
print("Hola mundo")
print("Hello world")

Hola mundo
Hello world

>**Parte II**

In [19]:
print("Simple Arithmetic Operations")

Simple Arithmetic Operations

In [7]:
# Variables
a = 1
b = 2
c = 3
d = 5
e =10

In [8]:
#Addition: Add two numbers and print the result.
print(a+b)

3

In [9]:
#Subtraction: Subtract one number from another and print the result.
print(c-d)

-2

In [10]:
#Multiplication: Multiply two numbers and print the result.
print(e*d)

50

In [11]:
#Division: Divide one number by another and print the result.
print(d/a)

5.0

### **02_functions**
#### Create composite functions that evaluate the absolute value of a number

In [39]:
# Versión 1
def es_negativo(x):
    return x < 0
def hacer_positivo(y):
    return -y
def valor_absoluto_compuesto(x):
    if es_negativo(x):
        return hacer_positivo(x)
    else:
        return x
print(valor_absoluto_compuesto(-24))
print(valor_absoluto_compuesto(24))

24
24

In [29]:
# Versión 2
def valor_absoluto(x):
    if x >= 0:
        return x
    else:
        return -x
print(valor_absoluto(5))    # 5
print(valor_absoluto(-3))   # 3
print(valor_absoluto(-9))   # 9

5
3
9

In [30]:
# Versión 3
import math
def valor_absoluto(x):
    cuadrado = x ** 2
    raiz = math.sqrt(cuadrado)
    if raiz.is_integer():
        return int(raiz)
    else:
        return raiz
print(valor_absoluto(12))    # 12
print(valor_absoluto(-24))   #-24

12
24

In [14]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [15]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [16]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [17]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [18]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21