# **Curso Python: Clase 10**
## Bases de datos

#  Importing and explore environmental data

In [1]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [2]:
# Path to the file to be imported
path = "../folder_datos/Terminos_lagoon_TA_DIC_2023_RawData.csv"

# Import the file
CO2Data = import_csv(path)

## Exploring  DataFrame

In [3]:
# Print the head of the DataFrame
print(CO2Data.head())

   sample      date     estuary   area station layer_depth season  \
0  CDL01S  5/3/2020  Candelaria  River   CDL01     Surface    Dry
1  CDL01F  5/3/2020  Candelaria  River   CDL01      Bottom    Dry
2  CDL02S  5/3/2020  Candelaria  River   CDL02     Surface    Dry
3  CDL02F  5/3/2020  Candelaria  River   CDL02      Bottom    Dry
4  CDL03S  5/3/2020  Candelaria  River   CDL03     Surface    Dry

   chlorophy_microg_l  cond_microsiemens_cm  depth_m  ...  do_mg_l  sal_psu  \
0                0.36                7015.4    0.464  ...     7.12     3.56
1                4.19               29886.1    7.792  ...     4.90    16.97
2                0.92               16691.1    0.453  ...     6.99     8.94
3                2.23               24847.4    1.261  ...     6.52    13.87
4                0.58               46341.6    0.465  ...     6.24    28.06

   sp_cond_microsiemens_cm  turbidity_fnu  temp_c  latitude  longitude  \
0                   6547.7           1.47  28.740  18.55736  -91.25012
1                  27751.2          95.33  29.028  18.55722  -91.24990
2                  15429.1           5.50  29.283  18.61007  -91.24410
3                  23074.0          13.44  29.024  18.61005  -91.24403
4                  43670.8           3.60  28.202  18.63166  -91.29359

   dic_micromol_kg  ta_micromol_kg  dummy_data
0             3915            3863      3685.0
1             3698            3685         NaN
2             3724            3708      3708.0
3             3667            3992      3992.0
4             2928            3023      3023.0

[5 rows x 21 columns]

## Group the data by a categorical column, and calculate the mean and standard deviation of a numerical column

In [4]:
# Definir las columnas a analizar
variables = ['dic_micromol_kg', 'ta_micromol_kg', 'sal_psu']

# Calcular la media y la desviación estándar agrupando por season y estuary
result = CO2Data.groupby(['season', 'estuary'])[variables].agg(['mean', 'std']).reset_index()

In [5]:
result

  season     estuary dic_micromol_kg             ta_micromol_kg              \
                                mean         std           mean         std
0    Dry  Candelaria     2917.055556  630.585893    3076.777778  556.680114
1    Dry    Palizada     2968.194444  391.242257    3107.888889  323.177154
2  Rainy  Candelaria     2474.125000  306.407980    2537.062500  192.848635
3  Rainy    Palizada     2507.277778  216.751092    2529.333333  260.962923

     sal_psu
        mean        std
0  23.633889  12.121592
1  16.392500  13.830189
2  15.165000  13.937384
3   8.533333   9.940109

In [6]:

# Renombrar las columnas para mayor claridad
result.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in result.columns]

# Mostrar el resultado
print(result)

  season_    estuary_  dic_micromol_kg_mean  dic_micromol_kg_std  \
0     Dry  Candelaria           2917.055556           630.585893
1     Dry    Palizada           2968.194444           391.242257
2   Rainy  Candelaria           2474.125000           306.407980
3   Rainy    Palizada           2507.277778           216.751092

   ta_micromol_kg_mean  ta_micromol_kg_std  sal_psu_mean  sal_psu_std
0          3076.777778          556.680114     23.633889    12.121592
1          3107.888889          323.177154     16.392500    13.830189
2          2537.062500          192.848635     15.165000    13.937384
3          2529.333333          260.962923      8.533333     9.940109

In [7]:
import pandas as pd
from tabulate import tabulate

In [8]:

import pandas as pd
from tabulate import tabulate

# Suponiendo que ya tienes tu DataFrame CO2Data cargado
# CO2Data = pd.read_csv('tu_archivo.csv')  # Ejemplo si proviene de un CSV

# Definir las columnas a analizar
variables = ['dic_micromol_kg', 'ta_micromol_kg', 'sal_psu']

# Calcular la media y la desviación estándar agrupando por season y estuary
result = CO2Data.groupby(['season', 'estuary'])[variables].agg(['mean', 'std']).reset_index()

# Asignar nombres de columnas adecuados
result.columns = ['season', 'estuary'] + [f"{var}_{stat}" for var in variables for stat in ['mean', 'std']]

# Formatear los valores para mostrar "media ± desviación estándar" sin notación científica y con dos cifras decimales
for var in variables:
    mean_col = f"{var}_mean"
    std_col = f"{var}_std"
    result[f"{var}_formatted"] = result.apply(lambda row: f"{row[mean_col]:,.2f} ± {row[std_col]:,.2f}", axis=1)

# Seleccionar solo las columnas formateadas junto con los índices
formatted_result = result[['season', 'estuary'] + [f"{var}_formatted" for var in variables]]

# Mostrar la tabla con los resultados formateados usando tabulate
table = tabulate(formatted_result, headers='keys', tablefmt='pretty', showindex=False)
print(table)

+--------+------------+---------------------------+--------------------------+-------------------+
| season |  estuary   | dic_micromol_kg_formatted | ta_micromol_kg_formatted | sal_psu_formatted |
+--------+------------+---------------------------+--------------------------+-------------------+
|  Dry   | Candelaria |     2,917.06 ± 630.59     |    3,076.78 ± 556.68     |   23.63 ± 12.12   |
|  Dry   |  Palizada  |     2,968.19 ± 391.24     |    3,107.89 ± 323.18     |   16.39 ± 13.83   |
| Rainy  | Candelaria |     2,474.12 ± 306.41     |    2,537.06 ± 192.85     |   15.16 ± 13.94   |
| Rainy  |  Palizada  |     2,507.28 ± 216.75     |    2,529.33 ± 260.96     |    8.53 ± 9.94    |
+--------+------------+---------------------------+--------------------------+-------------------+

In [9]:
# Guardar la tabla en un archivo CSV
formatted_result.to_csv("../folder_datos/resultados_agrupados.csv", index=False)